[Unit]
Description=Ceph OSD
After=docker.service dnsmasq.service
Wants=dnsmasq.service
Requires=docker.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker kill ceph-osd
ExecStartPre=-/usr/bin/docker rm ceph-osd
ExecStartPre=-/usr/bin/docker pull regi01:5000/h0tbird/ceph:v9.2.0-2

ExecStart=/usr/bin/sh -c "/usr/bin/docker run \
  --privileged=true \
  --net=host \
  --name=ceph-osd \
  --volume /var/lib/ceph:/var/lib/ceph \
  --volume /etc/ceph:/etc/ceph \
  --volume /dev:/dev \
  --env CLUSTER='ceph' \
  --env CEPH_GET_ADMIN_KEY=1 \
  --env OSD_DEVICE=/dev/sdb \
  --env OSD_FORCE_ZAP=1 \
  --env KV_TYPE=etcd \
  --env KV_IP=127.0.0.1 \
  --env KV_PORT=2379 \
  regi01:5000/h0tbird/ceph:v9.2.0-2 osd"

ExecStop=/usr/bin/docker stop ceph-osd

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=slave
