[Unit]
Description=Lightweight caching DNS proxy
After=docker.service
Requires=docker.service

[Service]
Restart=always
TimeoutStartSec=10m
ExecStartPre=-/usr/bin/docker kill dnsmasq
ExecStartPre=-/usr/bin/docker rm -f dnsmasq
ExecStartPre=-/usr/bin/docker pull janeczku/go-dnsmasq:0.9.8
ExecStartPre=/usr/bin/sh -c " \
  dig core-1 core-5 core-9 +short | tr '\n' ',' > /tmp/ns && \
  awk '/^nameserver/ {print $2; exit}' /run/systemd/resolve/resolv.conf >> /tmp/ns"
ExecStart=/usr/bin/sh -c "docker run \
  --name dnsmasq \
  --net host \
  --volume /etc/resolv.conf:/etc/resolv.conf \
  janeczku/go-dnsmasq:0.9.8 \
  --listen $(hostname -i) \
  --nameservers $(cat /tmp/ns) \
  --default-resolver \
  --search-domains $(hostname -d | cut -d. -f-2).mesos,$(hostname -d) \
  --append-search-domains"
ExecStop=/usr/bin/docker stop dnsmasq

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=slave
