[Unit]
Description=Marathon
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill marathon
ExecStartPre=-/usr/bin/docker rm marathon
ExecStartPre=-/usr/bin/docker pull regi01:5000/mesosphere/marathon:v0.11.1
ExecStart=/usr/bin/docker run \
  --name marathon \
  --net  host \
  --env  LIBPROCESS_PORT=9090 \
  regi01:5000/mesosphere/marathon:v0.11.1 \
  --master zk://core-1:2181,core-2:2181,core-3:2181/mesos \
  --zk zk://core-1:2181,core-2:2181,core-3:2181/marathon \
  --checkpoint \
  --task_launch_timeout 240000
ExecStop=/usr/bin/docker stop marathon

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=master
