[Unit]
Description=Marathon
After=docker.service mesos-master.service
Requires=docker.service mesos-master.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill marathon
ExecStartPre=-/usr/bin/docker rm marathon
ExecStartPre=-/usr/bin/docker pull regi01:5000/mesosphere/marathon:v0.15.3
ExecStart=/usr/bin/sh -c "docker run \
  --name marathon \
  --net host \
  --env LIBPROCESS_IP=$(hostname -i) \
  --env LIBPROCESS_PORT=9090 \
  --volume /etc/resolv.conf:/etc/resolv.conf \
  regi01:5000/mesosphere/marathon:v0.15.3 \
  --http_address $(hostname -i) \
  --master zk://core-1:2181,core-5:2181,core-9:2181/mesos \
  --zk zk://core-1:2181,core-5:2181,core-9:2181/marathon \
  --task_launch_timeout 240000 \
  --checkpoint"
ExecStop=/usr/bin/docker stop -t 5 marathon

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=master
