[Unit]
Description=Mesos Node
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill mesos-node
ExecStartPre=-/usr/bin/docker rm mesos-node
ExecStartPre=-/usr/bin/docker pull regi01:5000/mesosphere/mesos-slave:0.26.0-0.2.145.ubuntu1404
ExecStart=/usr/bin/sh -c "/usr/bin/docker run \
  --privileged \
  --name mesos-node \
  --net host \
  --pid host \
  --volume /sys:/sys \
  --volume /usr/bin/docker:/usr/bin/docker:ro \
  --volume /var/run/docker.sock:/var/run/docker.sock \
  --volume /lib64/libdevmapper.so.1.02:/lib/libdevmapper.so.1.02:ro \
  --volume /lib64/libsystemd.so.0:/lib/libsystemd.so.0:ro \
  --volume /lib64/libgcrypt.so.20:/lib/libgcrypt.so.20:ro \
  --volume /var/lib/mesos:/var/lib/mesos \
  regi01:5000/mesosphere/mesos-slave:0.26.0-0.2.145.ubuntu1404 \
  --ip=$(/usr/bin/ip -o -4 addr list eth0 | grep global | awk \'{print $4}\' | cut -d/ -f1) \
  --containerizers=docker \
  --docker_mesos_image=regi01:5000/mesosphere/mesos-slave:0.26.0-0.2.145.ubuntu1404 \
  --executor_registration_timeout=2mins \
  --master=zk://core-1:2181,core-5:2181,core-9:2181/mesos \
  --work_dir=/var/lib/mesos/node \
  --log_dir=/var/log/mesos/node"
ExecStop=/usr/bin/docker stop mesos-node

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=slave
