[Unit]
Description=Prometheus Service
After=docker.service
Requires=docker.service

[Service]
Restart=always
TimeoutStartSec=10m
ExecStartPre=-/usr/bin/docker kill prometheus
ExecStartPre=-/usr/bin/docker rm -f prometheus
ExecStartPre=-/usr/bin/docker pull prom/prometheus
ExecStart=/usr/bin/sh -c "/usr/bin/docker run \
  --name    prometheus \
  --publish 9191:9090 \
  --volume  /media/configvirtfs/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml \
  --volume  /media/configvirtfs/prometheus/prometheus.rules:/etc/prometheus/prometheus.rules \
  prom/prometheus:latest"
ExecStop=/usr/bin/docker stop prometheus

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=master
