[Unit]
Description=Prometheus
After=docker.service ceph-mon.service
Requires=docker.service ceph-mon.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill prometheus-%i
ExecStartPre=-/usr/bin/docker rm prometheus-%i
ExecStartPre=-/usr/bin/docker pull regi01:5000/prom/prometheus:0.16.2
ExecStartPre=-/usr/bin/docker volume create --driver rbd --name sys-prometheus-%i
ExecStart=/usr/bin/docker run \
  --name prometheus-%i \
  --publish 9191:9090 \
  --volume /media/configvirtfs/prometheus:/etc/prometheus \
  --volume /etc/prometheus/targets:/etc/sd-targets \
  regi01:5000/prom/prometheus:0.16.2
ExecStop=/usr/bin/docker stop prometheus-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata="role=master" "masterid=%i"
X-Conflicts=prometheus@*.service
