[Unit]
Description=Prometheus Service
After=docker.service dnsmasq.service
Wants=dnsmasq.service
Requires=docker.service

[Service]
Restart=always
TimeoutStartSec=10m
ExecStartPre=-/usr/bin/docker kill prometheus
ExecStartPre=-/usr/bin/docker rm -f prometheus
ExecStartPre=-/usr/bin/docker pull regi01:5000/prom/prometheus:0.16.2
ExecStart=/usr/bin/docker run \
  --name prometheus \
  --net host \
  --volume /media/configvirtfs/prometheus:/etc/prometheus \
  --volume /etc/prometheus/targets:/etc/sd-targets \
  regi01:5000/prom/prometheus:0.16.2 \
  -config.file=/etc/prometheus/prometheus.yml \
  -storage.local.path=/prometheus \
  -web.console.libraries=/etc/prometheus/console_libraries \
  -web.console.templates=/etc/prometheus/consoles \
  -web.listen-address=:9191
ExecStop=/usr/bin/docker stop prometheus

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=master
