[Unit]
Description=Zookeeper
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill zookeeper-%i
ExecStartPre=-/usr/bin/docker rm zookeeper-%i
ExecStartPre=-/usr/bin/docker pull regi01:5000/h0tbird/zookeeper:latest
ExecStart=/usr/bin/docker run \
  --net  host \
  --name zookeeper-%i \
  --env ZK_SERVER_NUMBER=%i \
  --env ZK_SERVERS=core-1,core-2,core-3 \
  regi01:5000/h0tbird/zookeeper:latest
ExecStop=/usr/bin/docker stop zookeeper-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata="role=master" "masterid=%i"
X-Conflicts=zookeeper@*.service
